node_modules/
.DS_Store
.env.local
.env.*.local
dist/
/DEVPOSTFE

*.log
*.lock
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.bak
*.tmp           
.env
*.env
*.env.*
coverage/
*.zip
*.tar.gz
*.tgz
*.exe
*.dll
*.so
